.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  flex-wrap: nowrap;
}

.destination {
  flex: 0 0 auto;
  width: 130px;
  margin: 0 10px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.destination img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  padding: 0px !important;

}
.destination img:hover {
  transform: scale(1.1);

}

.my-btn  {
 background-color: bisque;
 width: 150px;
height: 60px;
cursor: pointer;
}
.my-btn:hover {
 background-color: rgb(224, 135, 25);
 width: 170px;
 height: 60px;
cursor: pointer;
}




.slider-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #ec8422;
width: 20px;
}
